.basketList {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #ffffff;
   width: 50rem;
   max-width: 95%;
   z-index: 10;

   animation: show 500ms ease-in-out;
}

.icon {
   cursor: pointer;
}

@keyframes show {
   from {
      top: 70%;
      opacity: 0;
   }
   to {
      top: 50%;
      opacity: 1;
   }
}

.footer {
   display: grid;
   grid-template-columns: auto 1fr[buttonStart] 1fr[buttonEnd];
   justify-items: center;
   align-items: baseline;
}

.btn {
   grid-column: buttonStart / buttonEnd;
	justify-self: flex-end;
	background-color: #76ff03;
   color: #000000;
}


.btn:hover {
   background-color: #ccff90;
   transition: all 0.2s;
}