.price{
	font-size: 24px;
	font-weight: bold;
}

.card{
	display: grid;
}

.cardBottom{
	align-self: flex-end;
	background: #ff8a80 !important;
}

.btn{
	color: #000000;
	background-color: #76ff03;
	transition: all .2s;
}
.btn:hover{
	background-color: #ccff90;
	transition: all .2s;
}
